#teacher_login {
    background-color: white;
    /*margin: 100px;*/
}

.redirect_link {
    padding: auto;
    margin-top: 5cm;
}

#login {
    background-color: rgb(13, 101, 202);
    margin: auto;
    margin-top: 4cm;
    text-align: center;
    width: 23%;
    border: 1px solid black;
    padding: 25px 10px;
    position: relative;
    border-radius: 1cm;
    border: 3px ridge;
    height: 7cm;
    /*background-color: white;
    margin: 0;
    padding: 15px 15px;
    position: absolute;
    top: 30%;
    left: 35%;
    right: 35%;
    bottom: 30%;
    
    /*margin: 0;
    border-radius: 8px;
    padding: 15px 15px;
    position: absolute;
    text-decoration: none;
    top: 50%;
    left: 50%;*/
}

.login-form {
    left: 50%;
}

#teacher_login input {
    padding: 9px 20px;
    margin: 10px auto;
    width: 80%;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid red;
    outline: none;
}

#teacher_login button {
    border: none;
    background-color: rgb(9, 212, 117);
    color: white;
    padding: 10px 30px;
    margin: 10px 5px;
    cursor: pointer;
    transition: 0.2s all;
}

#teacher_login button:focus {
    text-decoration: dotted;
}

#teacher_login button:active {
    transform: scale(0.95);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0, 24);
}


/*
body {
    background-color: whitesmoke;
}

.student_panel {
    color: black;
    text-align: left;
    padding-left: 6cm;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
}

.student_list_title {
    color: black;
    text-align: left;
    padding-left: 6cm;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
}

.register_student {
    margin-left: 6cm;
}

h2 {
    color: white;
    text-align: left;
    padding-left: 1cm;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
}

.header {
    background-color: #000;
    position: sticky;
    top: 0;
    width: 100%;
}

.logout {
    margin-right: 0.3cm;
    float: right;
}

table {
    border-collapse: collapse;
}

.teacher_list {
    margin-left: 2cm;
}



.teacher_upper_container {
    background-color: white;
    margin: auto;
    width: 70%;
    overflow-y: auto;
    height: 4.5cm;
    margin-bottom: 1cm;
}

.teacher_upper_container thead th {
    position: sticky;
    top: 0;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    padding: 8px 16px;
}

th {
    background: #eee;
}

.teacher_upper_container,
.teacher_upper_container td {
    box-shadow: inset 1px -1px #000;
}

.teacher_upper_container th {
    box-shadow: inset 1px 1px #000, 0 1px #000;
}



.teacher_lower_container {
    background-color: white;
    margin: auto;
    margin-bottom: 1cm;
    width: 70%;
    overflow-y: auto;
    height: 8cm;
}

.teacher_lower_container thead th {
    position: sticky;
    top: 0;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    padding: 8px 16px;
}

th {
    background: #eee;
}

.teacher_lower_container,
.teacher_lower_container td {
    box-shadow: inset 1px -1px #000;
}

.teacher_lower_container th {
    box-shadow: inset 1px 1px #000, 0 1px #000;
}


button {
    border: none;
    background-color: cyan;
    color: white;
    padding: 10px 30px;
    margin: 4px 2px;
    cursor: pointer;
    transition: 0.2s all;
}

button:focus {
    text-decoration: dotted;
}

button:active {
    transform: scale(0.95);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0, 24);
}*/